--extra-index-url https://download.pytorch.org/whl/cu121

langchain
langchain-core
langchain-google-genai
langchain-openai
langchain-ollama
scikit-fuzzy
pandas
scikit-learn
python-dotenv
joblib
networkx
matplotlib
accelerate
transformers
datasets
torch>=2.6.0
torchvision
torchaudio